.DS_Store


Openweathermap API Key: f7c0cade994ead57c4b21542c7e233fa

OpenAI API Key: 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